{% extends "base.html" %}

{% block content %}
    <h1>Cirurgias</h1>

    {% if listar_cirurgias %}
        <ul>
        {% for cirurgia in listar_cirurgias %}
            <li>
                <a href="{% url 'detalhar_cirurgia' cirurgia.id %}">
                    {{ cirurgia.pet.nome }} - {{ cirurgia.procedimento }} ({{ cirurgia.data }})
                </a>
                - local: {{ cirurgia.local }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma cirurgia registrada.</p>
    {% endif %}

    <a href="{% url 'criar_cirurgia' %}">Registrar nova cirurgia</a>

{% endblock %}