<h1>Medicamentos</h1>

{% if medicamento_list %}
    <ul>
    {% for medicamento in medicamento_list %}
        <li>
            <a href="{% url 'medicamento_detail' medicamento.id %}">
                {{ medicamento.pet.nome }} - {{ medicamento.nome }}
            </a>
            ({{ medicamento.dosagem }}, {{ medicamento.frequencia }}) - status: {{ medicamento.status_tratamento }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nenhum medicamento registrado.</p>
{% endif %}

<a href="{% url 'medicamento_create' %}">Registrar novo medicamento</a>
