{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow border-danger">
        <div class="card-header bg-danger text-white">
            <h2>Excluir Profissional</h2>
        </div>
        <div class="card-body">
            <p class="fs-5">Tem certeza de que deseja excluir o profissional <strong>{{ profissional.nome }}</strong>?</p>
            
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Sim, excluir</button>
                <a href="{% url 'profissional:listar' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}