{% extends 'base.html' %}

{% block content %}
    <h1>Vacinas</h1>

    {% if vacina_list %}
        <ul>
        {% for vacina in vacina_list %}
            <li>
                <a href="{% url 'vacina_detail' vacina.id %}">{{ vacina.nome }}</a>
                - {{ vacina.quantidade_dose }} dose(s) - intervalo {{ vacina.intervalo_doses_dias }} dia(s)
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma vacina cadastrada.</p>
    {% endif %}

    <a href="{% url 'vacina_create' %}">Cadastrar nova vacina</a>
{% endblock %}